{%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
<div class="footer__payment-icons h-stack wrap gap-2">
  {%- for type in shop.enabled_payment_types -%}
    {{- type | payment_type_svg_tag -}}
  {%- endfor -%}
<img style="width: 38px;height:24px;border-radius: 3px;background: #fff;border:1px solid #ececec;" src="{{ 'Anyday_black44b.svg' | asset_url }}" />
<img style="width: auto;height: 24px;border-radius: 3px;background: #fff;border:1px solid #ececec;padding: 2px 4px;" src="{{ 'MB.png' | asset_url }}" />

</div>
{%- endif -%}