{% for variant in product.variants %}

  <div class="grid-variant__wrapper variant-picker__option-values wrap gap-2">

    {% if variant == product.selected_or_first_available_variant %}
      <a href="{{ product.url }}?variant={{ variant.id }}">
        <div class="variant-button">
          <span>{{ variant.title }}</span>
        </div>
      </a>
    {% else %}
      <div class="variant-button is-disabled">
        <span>{{ variant.title }}</span>
      </div>
    {% endif %}
  </div>

{% endfor %}