
<div class="grid-variant__wrapper variant-picker__option-values wrap gap-2">
    {% for variant in product.variants %}
        {% if variant == product.selected_or_first_available_variant %}
        <a href="{{ product.url }}?variant={{ variant.id }}">
            <div class="variant-button">
                <span>{{ variant.title | t }}</span>
            </div>
        </a>
        {% else %}
        <div class="variant-button">
            <span>{{ variant.title | t }}</span>
        </div>


    {% endfor %}
</div>


